.forgot-pass
{
    text-align:center;
    color: orange;
    font-size: 35px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 7px;
}
.user-lock
{
    margin-left:160px;
}
.f-p-txt
{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0px;
}
.email-field
{
   padding: 10px;
  padding-left: 40px;
  border: none;
  outline: none;
    height: 24px;
    width: 300px;
  background-color: #222;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 25px;
  
}
.reset-code
{
     padding: 10px;
  border: none;
  background-color: #ff8c00;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  position: absolute;
  top:300px;
  left:100px;
  width: 250px;
}
.forgotpass-container
{
    background-color:#111; 
  width: 400px;
  padding: 30px;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
  gap:0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.b-to-signin
{
    text-align: center;
    color: orange;
    position: relative;
    top:50px;
}
.b-to-signin:hover
{
    text-decoration: underline;
    cursor: pointer;
}